<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Kayıt Ol</h1>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Kullanıcı Adı" required>
            <input type="password" name="password" placeholder="Şifre", required>
            <button type="submit">Kayıt Ol</button>
            <a href="/login">Hesabın var mı?</a>
        </form>
    </div>
</body>
</html>
